name: test-coverage

on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]

jobs:
    test-coverage:
        runs-on: ubuntu-latest
        env:
            GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

        steps:
            - uses: actions/checkout@v4

            - uses: r-lib/actions/setup-r@v2
              with:
                  use-public-rspm: true

            - uses: r-lib/actions/setup-r-dependencies@v2
              with:
                  # We need covr to run tests, and xml2 to export the report format
                  extra-packages: any::covr, any::testthat, any::xml2
                  needs: coverage

            - name: Calculate Coverage
              run: |
                  # calculate coverage and export to coverage.xml
                  covr::to_cobertura(covr::package_coverage())
              shell: Rscript {0}

            - name: Upload to codecov.io
              uses: codecov/codecov-action@v5
              with:
                  fail_ci_if_error: true
                  files: ./cobertura.xml
                  token: ${{ secrets.CODECOV_TOKEN }}
