# Workflow for running tests with devtools::test()
on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]

name: test-coverage

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

        steps:
            - uses: actions/checkout@v4

            - uses: r-lib/actions/setup-r@v2
              with:
                  use-public-rspm: true

            - uses: r-lib/actions/setup-r-dependencies@v2
              with:
                  extra-packages: any::covr, any::testthat
                  needs: coverage

            - name: Run tests
              run: |
                  Rscript -e 'devtools::test()'

            - name: Test coverage
              run: |
                  covr::codecov(
                    quiet = FALSE,
                    clean = FALSE,
                    install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")
                  )
              shell: Rscript {0}
              continue-on-error: true
